/* line 5, ../../../../../../../../Users/jordanriser/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../Users/jordanriser/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../Users/jordanriser/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../Users/jordanriser/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../Users/jordanriser/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../Users/jordanriser/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../Users/jordanriser/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../Users/jordanriser/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../Users/jordanriser/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/**
 * Grid settings.
 * All values are defaults and can therefore be easily overidden.
 */
/**
 * List functions courtesy of the wonderful folks at Team Sass.
 * Check out their awesome grid: Singularity.
 */
/**
 * Get  percentage from a given ratio.
 * @param {number} [$ratio=1] - The column ratio of the element.
 * @returns {number} - The percentage value.
 */
/**
 * Work out the column widths based on the ratio and gutter sizes.
 * @param {number} [$ratios=1] - The column ratio of the element.
 * @param {number} [$gutter=$jeet-gutter] - The gutter for the column.
 * @returns {list} $width $gutter - A list containing the with and gutter for the element.
 */
/**
 * Get the set layout direction for the project.
 * @returns {string} $direction - The layout direction.
 */
/**
 * Replace a specified list value with a new value (uses built in set-nth() if available)
 * @param {list} $list - The list of values you want to alter.
 * @param {number} $index - The index of the list item you want to replace.
 * @param {*} $value - The value you want to replace $index with.
 * @returns {list} $list - The list with the value replaced or removed.
 * @warn if an invalid index is supplied.
 */
/**
 * Reverse a list (progressively enhanced for Sass 3.3)
 * @param {list} $list - The list of values you want to reverse.
 * @returns {list} $result - The reversed list.
 */
/**
 * Get the opposite direction to a given value.
 * @param {string} $dir - The direction you want the opposite of.
 * @returns {string} - The opposite direction to $dir.
 * @warn if an incorrect string is provided.
 */
/**
 * Style an element as a column with a gutter.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [$cycle=0] - Easily create an nth column grid where $cycle equals the number of columns.
 * @param {number} [$uncycle=0] - Undo a previous cycle value to allow for a new one.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column mixin.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Get the width of a column and nothing else.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Get the gutter size of a column and nothing else.
 * @param {number} [ratios=1] - A width relative to its container as a fraction.
 * @param {number} [gutter=jeet.gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column-width function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * An alias for the column-gutter function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Style an element as a column without any gutters for a seamless row.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [cycle=0] - Easily create an nth column grid where cycle equals the number of columns.
 * @param {number} [uncycle=0] - Undo a previous cycle value to allow for a new one.
 */
/**
 * Reorder columns without altering the HTML.
 * @param {number} [$ratios=0] - Specify how far along you want the element to move.
 * @param {string} [$col-or-span=column] - Specify whether the element has a gutter or not.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Reset an element that has had shift() applied to it.
 */
/**
 * View the grid and its layers for easy debugging.
 * @param {string} [$color=black] - The background tint applied.
 * @param {boolean} [$important=false] - Whether to apply the style as !important.
 */
/**
 *  Alias for edit().
 */
/**
 * Horizontally center an element.
 * @param {number} [$max-width=1410px] - The max width the element can be.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 */
/**
 * Uncenter an element.
 */
/**
 * Stack an element so that nothing is either side of it.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 * @param {boolean/string} [$align=false] - Specify the text align for the element.
 */
/**
 * Unstack an element.
 */
/**
 * Center an element on either or both axes.
 * @requires A parent container with relative positioning.
 * @param {string} [$direction=both] - Specify which axes to center the element on.
 */
/**
 * Apply a clearfix to an element.
 */
/* line 1, ../sass/helpers/_classes.scss */
.wrap, nav#main_nav .row {
  *zoom: 1;
  width: auto;
  max-width: 1168px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.28425%;
  padding-right: 1.28425%;
  width: 90%; }
  /* line 344, ../bower_components/jeet/scss/jeet/_grid.scss */
  .wrap:before, nav#main_nav .row:before, .wrap:after, nav#main_nav .row:after {
    content: '';
    display: table; }
  /* line 349, ../bower_components/jeet/scss/jeet/_grid.scss */
  .wrap:after, nav#main_nav .row:after {
    clear: both; }

/* line 1, ../sass/components/_header.scss */
header.site-header {
  position: fixed;
  width: 100%;
  height: 97px;
  line-height: 97px;
  z-index: 1;
  background-color: transparent;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  /* line 9, ../sass/components/_header.scss */
  header.site-header.scrolled {
    background-color: white;
    height: 67px;
    line-height: 67px; }
    /* line 13, ../sass/components/_header.scss */
    header.site-header.scrolled img.logo {
      max-width: 202px; }
    /* line 16, ../sass/components/_header.scss */
    header.site-header.scrolled #toggle {
      margin-top: 24px; }
    /* line 19, ../sass/components/_header.scss */
    header.site-header.scrolled nav#main_nav {
      padding-top: 67px; }
  /* line 23, ../sass/components/_header.scss */
  header.site-header .main {
    overflow: hidden;
    *zoom: 1;
    line-height: inherit;
    position: relative;
    z-index: 1; }
  /* line 29, ../sass/components/_header.scss */
  header.site-header img.logo {
    max-height: 92px;
    vertical-align: middle;
    -moz-transition: max-width 0.3s ease;
    -o-transition: max-width 0.3s ease;
    -webkit-transition: max-width 0.3s ease;
    transition: max-width 0.3s ease; }
    @media (max-width: 568px) {
      /* line 29, ../sass/components/_header.scss */
      header.site-header img.logo {
        max-width: 200px; } }
  /* line 37, ../sass/components/_header.scss */
  header.site-header #toggle {
    width: 28px;
    float: right;
    margin-top: 39px;
    cursor: pointer;
    -moz-transition: margin-top 0.3s ease;
    -o-transition: margin-top 0.3s ease;
    -webkit-transition: margin-top 0.3s ease;
    transition: margin-top 0.3s ease; }
  /* line 44, ../sass/components/_header.scss */
  header.site-header #toggle div {
    width: 100%;
    height: 3px;
    background: #4e4e4e;
    margin: 6px auto;
    transition: all 0.3s;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    /* line 51, ../sass/components/_header.scss */
    header.site-header #toggle div.one {
      margin-top: 0; }
    /* line 54, ../sass/components/_header.scss */
    header.site-header #toggle div.three {
      margin-bottom: 0; }
  /* line 58, ../sass/components/_header.scss */
  header.site-header #toggle.on .one {
    -moz-transform: rotate(45deg) translate(5px, 6px);
    -ms-transform: rotate(45deg) translate(5px, 6px);
    -webkit-transform: rotate(45deg) translate(5px, 6px);
    transform: rotate(45deg) translate(5px, 6px); }
  /* line 61, ../sass/components/_header.scss */
  header.site-header #toggle.on .two {
    opacity: 0; }
  /* line 64, ../sass/components/_header.scss */
  header.site-header #toggle.on .three {
    -moz-transform: rotate(-45deg) translate(6px, -8px);
    -ms-transform: rotate(-45deg) translate(6px, -8px);
    -webkit-transform: rotate(-45deg) translate(6px, -8px);
    transform: rotate(-45deg) translate(6px, -8px); }
  /* line 67, ../sass/components/_header.scss */
  header.site-header .site-title {
    font-family: cursive; }
    /* line 69, ../sass/components/_header.scss */
    header.site-header .site-title a {
      color: #4e4e4e;
      text-decoration: none;
      font-size: 29px; }

/* line 1, ../sass/components/_nav.scss */
nav#main_nav {
  position: absolute;
  z-index: 0;
  background-color: white;
  padding-top: 97px;
  width: 100%;
  top: 0;
  visibility: hidden;
  opacity: 0;
  -moz-transition: opacity 0.3s, visibility 0s 0.3s;
  -o-transition: opacity 0.3s, visibility 0s 0.3s;
  -webkit-transition: opacity 0.3s, visibility 0s;
  -webkit-transition-delay: 0s, 0.3s;
  transition: opacity 0.3s, visibility 0s 0.3s; }
  @media (max-width: 767px) {
    /* line 1, ../sass/components/_nav.scss */
    nav#main_nav {
      overflow: scroll; } }
  /* line 14, ../sass/components/_nav.scss */
  nav#main_nav.open {
    visibility: visible;
    opacity: 1;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s; }
  @media (max-width: 767px) {
    /* line 19, ../sass/components/_nav.scss */
    nav#main_nav .scroll-wrap {
      height: 200px;
      width: 1578px;
      overflow: hidden;
      *zoom: 1;
      padding-top: 32px;
      box-sizing: border-box; } }
  @media (max-width: 767px) {
    /* line 28, ../sass/components/_nav.scss */
    nav#main_nav .row {
      float: left;
      margin: 0 !important;
      padding: 0;
      width: auto; } }
  /* line 36, ../sass/components/_nav.scss */
  nav#main_nav .row:first-of-type {
    margin-bottom: 50px;
    margin-top: 38px; }
  /* line 40, ../sass/components/_nav.scss */
  nav#main_nav .row:last-of-type {
    margin-bottom: 38px; }
  /* line 44, ../sass/components/_nav.scss */
  nav#main_nav .col {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 32.47717%;
    margin-left: 0%;
    margin-right: 1.28425%;
    text-align: center;
    position: relative; }
    /* line 344, ../bower_components/jeet/scss/jeet/_grid.scss */
    nav#main_nav .col:before, nav#main_nav .col:after {
      content: '';
      display: table; }
    /* line 349, ../bower_components/jeet/scss/jeet/_grid.scss */
    nav#main_nav .col:after {
      clear: both; }
    /* line 58, ../bower_components/jeet/scss/jeet/_grid.scss */
    nav#main_nav .col:last-child {
      margin-right: 0%; }
    @media (max-width: 767px) {
      /* line 44, ../sass/components/_nav.scss */
      nav#main_nav .col {
        width: 230px;
        margin: 0 18px; } }
    /* line 54, ../sass/components/_nav.scss */
    nav#main_nav .col:hover span.img .nav-img {
      -moz-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
      -webkit-transform: scale(1.2, 1.2);
      transform: scale(1.2, 1.2); }
      @media (max-width: 767px) {
        /* line 54, ../sass/components/_nav.scss */
        nav#main_nav .col:hover span.img .nav-img {
          -moz-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
          -webkit-transform: scale(1, 1);
          transform: scale(1, 1); } }
    /* line 62, ../sass/components/_nav.scss */
    nav#main_nav .col > a {
      display: block;
      color: white;
      text-decoration: none; }
    /* line 67, ../sass/components/_nav.scss */
    nav#main_nav .col span.social {
      display: block;
      width: 100%;
      height: 40px;
      position: absolute;
      z-index: 1;
      top: 50%;
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
      @media (max-width: 900px) {
        /* line 67, ../sass/components/_nav.scss */
        nav#main_nav .col span.social {
          height: 30px; } }
      /* line 78, ../sass/components/_nav.scss */
      nav#main_nav .col span.social a {
        display: inline-block;
        height: 40px;
        margin-right: 10px; }
        @media (max-width: 900px) {
          /* line 78, ../sass/components/_nav.scss */
          nav#main_nav .col span.social a {
            height: 30px; } }
        /* line 85, ../sass/components/_nav.scss */
        nav#main_nav .col span.social a:last-of-type {
          margin-right: 0; }
      /* line 89, ../sass/components/_nav.scss */
      nav#main_nav .col span.social img {
        height: 40px !important;
        vertical-align: top; }
        @media (max-width: 900px) {
          /* line 89, ../sass/components/_nav.scss */
          nav#main_nav .col span.social img {
            height: 30px !important; } }
    /* line 97, ../sass/components/_nav.scss */
    nav#main_nav .col span.text {
      position: absolute;
      font-style: normal;
      font-weight: 700;
      font-size: 47px;
      display: block;
      top: 50%;
      left: 50%;
      z-index: 1;
      text-transform: uppercase;
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      @media (max-width: 900px) {
        /* line 97, ../sass/components/_nav.scss */
        nav#main_nav .col span.text {
          font-size: 37px; } }
    /* line 112, ../sass/components/_nav.scss */
    nav#main_nav .col span.img {
      width: 100%;
      max-width: 273px;
      display: block;
      position: relative;
      z-index: 0;
      margin: 0 auto;
      overflow: hidden; }
      /* line 120, ../sass/components/_nav.scss */
      nav#main_nav .col span.img .nav-img {
        vertical-align: middle;
        width: 100%;
        -moz-transition: -moz-transform 0.3s ease;
        -o-transition: -o-transform 0.3s ease;
        -webkit-transition: -webkit-transform 0.3s ease;
        transition: transform 0.3s ease; }

/* line 4, ../sass/components/_form.scss */
.ninja-forms-form .ninja-forms-required-items {
  margin-bottom: 12px; }
/* line 7, ../sass/components/_form.scss */
.ninja-forms-form input {
  height: 30px !important;
  outline: none;
  border: 2px solid #cecece;
  border-radius: 3px;
  box-sizing: border-box;
  padding-left: 6px;
  -moz-transition: border-color 0.3s ease;
  -o-transition: border-color 0.3s ease;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease; }
  /* line 15, ../sass/components/_form.scss */
  .ninja-forms-form input:hover {
    border-color: #a7a7a7; }
  /* line 18, ../sass/components/_form.scss */
  .ninja-forms-form input[type=submit] {
    border-width: 2px;
    padding: 8px 16px;
    background-color: transparent;
    color: #4e4e4e; }
/* line 25, ../sass/components/_form.scss */
.ninja-forms-form textarea {
  border: 2px solid #cecece;
  outline: none;
  border-radius: 3px;
  box-sizing: border-box;
  padding-left: 6px;
  -moz-transition: border-color 0.3s ease;
  -o-transition: border-color 0.3s ease;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease; }
  /* line 32, ../sass/components/_form.scss */
  .ninja-forms-form textarea:hover {
    border-color: #a7a7a7; }
/* line 36, ../sass/components/_form.scss */
.ninja-forms-form #nf_submit_2 {
  text-align: right; }

/* line 7, ../sass/components/_select.scss */
.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px; }

/* line 12, ../sass/components/_select.scss */
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #357EBD;
  width: 220px;
  height: 52px;
  margin-top: 20px; }

/* line 22, ../sass/components/_select.scss */
.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  border: 2px solid #357EBD;
  padding: 0 15px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  line-height: 48px; }
  /* line 33, ../sass/components/_select.scss */
  .select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #357EBD transparent transparent transparent;
    position: absolute;
    top: 21px;
    right: 10px; }
  /* line 43, ../sass/components/_select.scss */
  .select-styled:hover {
    background-color: white; }
  /* line 46, ../sass/components/_select.scss */
  .select-styled:active, .select-styled.active {
    background-color: white; }
    /* line 48, ../sass/components/_select.scss */
    .select-styled:active:after, .select-styled.active:after {
      top: 9px;
      border-color: transparent transparent #357EBD transparent; }

/* line 55, ../sass/components/_select.scss */
.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: white; }
  /* line 66, ../sass/components/_select.scss */
  .select-options li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid #e6e6e6;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in; }
    /* line 72, ../sass/components/_select.scss */
    .select-options li:hover {
      color: white;
      background: #357EBD; }
    /* line 76, ../sass/components/_select.scss */
    .select-options li[rel="hide"] {
      display: none; }

/* line 1, ../sass/components/_tour.scss */
.entry-header {
  text-align: center;
  margin-bottom: 68px; }
  /* line 4, ../sass/components/_tour.scss */
  .entry-header h1 {
    font-weight: 600;
    font-size: 36px; }

/* line 9, ../sass/components/_tour.scss */
#wolf-show-meta {
  font-size: 22px;
  font-weight: 600;
  line-height: 32px; }

/* line 14, ../sass/components/_tour.scss */
.wolf-show-place {
  font-size: 22px;
  font-weight: 600; }

/* line 18, ../sass/components/_tour.scss */
#wolf-show-details {
  margin-bottom: 34px; }
  /* line 20, ../sass/components/_tour.scss */
  #wolf-show-details .wolf-show-details-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 34px; }
  /* line 25, ../sass/components/_tour.scss */
  #wolf-show-details strong {
    font-weight: 600;
    display: inline-block;
    margin-bottom: 12px; }

/* line 31, ../sass/components/_tour.scss */
footer.entry-meta {
  background-color: transparent;
  text-align: right; }

/* line 35, ../sass/components/_tour.scss */
#wold-show-content {
  margin-bottom: 0; }

/* line 39, ../sass/components/_tour.scss */
.wolf-show-actions a {
  text-decoration: none;
  color: #4e4e4e;
  font-size: 14px;
  border: 3px solid #4e4e4e;
  padding: 8px 16px; }

/* line 3, ../sass/components/_modal.scss */
#eModal-1 {
  padding: 40px !important;
  box-sizing: border-box;
  top: 50% !important;
  left: 50% !important;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 440px;
  height: auto !important;
  max-height: 100%;
  overflow: auto !important; }

/* line 15, ../sass/components/_modal.scss */
[id*=eModal-post-] {
  padding: 0 !important;
  top: 50% !important;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: fixed;
  width: 100% !important;
  max-width: 720px;
  left: 50% !important;
  height: auto !important;
  max-height: 100%;
  overflow: auto !important; }
  /* line 26, ../sass/components/_modal.scss */
  [id*=eModal-post-] .product-img {
    width: 50%;
    margin: 30px auto 8px !important;
    display: block; }
  /* line 31, ../sass/components/_modal.scss */
  [id*=eModal-post-] .product-content {
    width: 80%;
    margin: 0 auto; }
  /* line 35, ../sass/components/_modal.scss */
  [id*=eModal-post-] h3.title {
    font-size: 18px;
    font-weight: 700;
    margin: 8px 0; }
  /* line 40, ../sass/components/_modal.scss */
  [id*=eModal-post-] h4.price {
    font-weight: 700;
    font-size: 24px;
    color: #36f332;
    margin-bottom: 8px; }
  /* line 46, ../sass/components/_modal.scss */
  [id*=eModal-post-] .product-desc {
    line-height: 1.4em;
    font-size: 14px;
    margin-bottom: 30px; }
  /* line 51, ../sass/components/_modal.scss */
  [id*=eModal-post-] .button {
    color: #4e4e4e;
    font-weight: 700;
    padding: 15px 40px;
    border: 2px solid #4e4e4e;
    text-decoration: none;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 8px; }

/* line 1, ../sass/components/_footer.scss */
footer {
  padding-top: 23px;
  background-color: #4e4e4e;
  color: white; }
  /* line 5, ../sass/components/_footer.scss */
  footer .logo {
    text-align: center; }
  /* line 8, ../sass/components/_footer.scss */
  footer img.footer-logo {
    max-width: 192px; }
  /* line 11, ../sass/components/_footer.scss */
  footer .links {
    text-align: center;
    padding: 36px 0; }
    /* line 14, ../sass/components/_footer.scss */
    footer .links a {
      color: white;
      font-weight: 300;
      text-decoration: none;
      margin-right: 70px; }
      @media (max-width: 704px) {
        /* line 14, ../sass/components/_footer.scss */
        footer .links a {
          margin: 12px 0;
          padding: 6px 0;
          display: block; } }
      /* line 24, ../sass/components/_footer.scss */
      footer .links a:last-of-type {
        margin-right: 0; }
  /* line 29, ../sass/components/_footer.scss */
  footer .social {
    text-align: center; }
    /* line 31, ../sass/components/_footer.scss */
    footer .social a {
      display: inline-block;
      margin-right: 80px; }
      @media (max-width: 704px) {
        /* line 31, ../sass/components/_footer.scss */
        footer .social a {
          margin-right: 24px; } }
      /* line 37, ../sass/components/_footer.scss */
      footer .social a:last-of-type {
        margin-right: 0; }
      /* line 40, ../sass/components/_footer.scss */
      footer .social a img {
        max-height: 30px; }
  /* line 45, ../sass/components/_footer.scss */
  footer .copy {
    padding-top: 50px;
    padding-bottom: 8px;
    text-align: center; }
    /* line 49, ../sass/components/_footer.scss */
    footer .copy p {
      opacity: .2;
      font-size: 12px;
      font-weight: 300;
      line-height: 18px; }

/* line 18, ../sass/site.scss */
a {
  color: #4183D7; }

/* line 22, ../sass/site.scss */
html {
  width: 100%;
  height: 100%; }

/* line 27, ../sass/site.scss */
body {
  height: 100%;
  width: 100%;
  font-family: "azo-sans-web",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #4e4e4e;
  -webkit-font-smoothing: antialiased; }
  /* line 37, ../sass/site.scss */
  body.home #top {
    overflow: hidden;
    height: 100%; }

/* line 44, ../sass/site.scss */
p {
  margin-bottom: 30px;
  line-height: 28px; }
  /* line 47, ../sass/site.scss */
  p:last-child {
    margin-bottom: 0; }

/* line 52, ../sass/site.scss */
#top {
  height: 400px;
  width: 100%;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative; }
  @media (max-width: 568px) {
    /* line 52, ../sass/site.scss */
    #top {
      height: 300px; } }
  /* line 61, ../sass/site.scss */
  #top .wrap, #top nav#main_nav .row, nav#main_nav #top .row {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  /* line 69, ../sass/site.scss */
  #top .col {
    text-align: center; }
    /* line 71, ../sass/site.scss */
    #top .col img {
      width: 100%;
      max-width: 370px; }
    /* line 75, ../sass/site.scss */
    #top .col h1 {
      color: #4e4e4e;
      font-weight: 700;
      font-size: 60px;
      text-transform: uppercase; }
      @media (max-width: 386px) {
        /* line 75, ../sass/site.scss */
        #top .col h1 {
          font-size: 40px; } }

/* line 87, ../sass/site.scss */
#content {
  padding: 68px 0; }
  /* line 89, ../sass/site.scss */
  #content.store {
    padding: 38px 0; }
  /* line 92, ../sass/site.scss */
  #content .attachment-post-thumbnail {
    margin-bottom: 30px;
    max-width: 100%;
    height: auto; }
  /* line 97, ../sass/site.scss */
  #content .col-12 {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 1.28425%; }
    /* line 344, ../bower_components/jeet/scss/jeet/_grid.scss */
    #content .col-12:before, #content .col-12:after {
      content: '';
      display: table; }
    /* line 349, ../bower_components/jeet/scss/jeet/_grid.scss */
    #content .col-12:after {
      clear: both; }
    /* line 58, ../bower_components/jeet/scss/jeet/_grid.scss */
    #content .col-12:last-child {
      margin-right: 0%; }
  /* line 100, ../sass/site.scss */
  #content .col-10 {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 83.11929%;
    margin-left: 8.44035%;
    margin-right: 1.28425%; }
    /* line 344, ../bower_components/jeet/scss/jeet/_grid.scss */
    #content .col-10:before, #content .col-10:after {
      content: '';
      display: table; }
    /* line 349, ../bower_components/jeet/scss/jeet/_grid.scss */
    #content .col-10:after {
      clear: both; }
    /* line 58, ../bower_components/jeet/scss/jeet/_grid.scss */
    #content .col-10:last-child {
      margin-right: 0%; }
    @media (max-width: 569px) {
      /* line 100, ../sass/site.scss */
      #content .col-10 {
        display: block;
        clear: both;
        float: none;
        width: 100%;
        margin-left: auto;
        margin-right: auto; }
        /* line 265, ../bower_components/jeet/scss/jeet/_grid.scss */
        #content .col-10:first-child {
          margin-left: auto; }
        /* line 269, ../bower_components/jeet/scss/jeet/_grid.scss */
        #content .col-10:last-child {
          margin-right: auto; } }
  /* line 106, ../sass/site.scss */
  #content .col-8 {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 66.23858%;
    margin-left: 16.88071%;
    margin-right: 1.28425%; }
    /* line 344, ../bower_components/jeet/scss/jeet/_grid.scss */
    #content .col-8:before, #content .col-8:after {
      content: '';
      display: table; }
    /* line 349, ../bower_components/jeet/scss/jeet/_grid.scss */
    #content .col-8:after {
      clear: both; }
    /* line 58, ../bower_components/jeet/scss/jeet/_grid.scss */
    #content .col-8:last-child {
      margin-right: 0%; }
    @media (max-width: 768px) {
      /* line 106, ../sass/site.scss */
      #content .col-8 {
        *zoom: 1;
        float: left;
        clear: none;
        text-align: inherit;
        width: 100%;
        margin-left: 0%;
        margin-right: 1.28425%; }
        /* line 344, ../bower_components/jeet/scss/jeet/_grid.scss */
        #content .col-8:before, #content .col-8:after {
          content: '';
          display: table; }
        /* line 349, ../bower_components/jeet/scss/jeet/_grid.scss */
        #content .col-8:after {
          clear: both; }
        /* line 58, ../bower_components/jeet/scss/jeet/_grid.scss */
        #content .col-8:last-child {
          margin-right: 0%; } }

@media (max-width: 799px) {
  /* line 114, ../sass/site.scss */
  #wolf-show-content {
    margin-top: 48px; }
    /* line 118, ../sass/site.scss */
    #wolf-show-content #wolf-show-details a {
      word-wrap: break-word; }
    /* line 121, ../sass/site.scss */
    #wolf-show-content #wolf-show-details .show-website {
      margin-top: 12px; } }

/* line 130, ../sass/site.scss */
.wolf-tour-dates table tr td.wolf-show-entry {
  padding-left: 10px; }

/* line 137, ../sass/site.scss */
article.post {
  margin-bottom: 68px; }
  /* line 139, ../sass/site.scss */
  article.post:last-of-type {
    margin-bottom: 0; }
  /* line 142, ../sass/site.scss */
  article.post h3.title {
    margin-bottom: 13px;
    font-size: 42px;
    font-weight: 600; }
    /* line 146, ../sass/site.scss */
    article.post h3.title a {
      color: #4e4e4e;
      text-decoration: none; }
  /* line 151, ../sass/site.scss */
  article.post .meta {
    display: block;
    margin-bottom: 13px; }
  /* line 155, ../sass/site.scss */
  article.post .tags {
    display: block;
    margin-bottom: 10px; }
    /* line 158, ../sass/site.scss */
    article.post .tags .tag-icon {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px; }
    /* line 163, ../sass/site.scss */
    article.post .tags a {
      color: #4e4e4e; }
  /* line 167, ../sass/site.scss */
  article.post .excerpt {
    margin-bottom: 13px; }
  /* line 170, ../sass/site.scss */
  article.post .read-more {
    color: #4e4e4e;
    font-weight: 700;
    padding: 15px 40px;
    border: 2px solid #4e4e4e;
    text-decoration: none;
    box-sizing: border-box;
    display: inline-block; }

/* line 181, ../sass/site.scss */
.row {
  overflow: hidden;
  *zoom: 1; }

/* line 185, ../sass/site.scss */
article.product {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 33.33333%;
  margin-left: 0%;
  margin-right: 0%;
  text-align: center;
  margin: 30px 0; }
  /* line 344, ../bower_components/jeet/scss/jeet/_grid.scss */
  article.product:before, article.product:after {
    content: '';
    display: table; }
  /* line 349, ../bower_components/jeet/scss/jeet/_grid.scss */
  article.product:after {
    clear: both; }
  /* line 50, ../bower_components/jeet/scss/jeet/_grid.scss */
  article.product:nth-child(3n) {
    margin-right: 0%;
    float: right; }
  /* line 54, ../bower_components/jeet/scss/jeet/_grid.scss */
  article.product:nth-child(3n + 1) {
    clear: both; }
  @media (max-width: 1023px) {
    /* line 185, ../sass/site.scss */
    article.product {
      *zoom: 1;
      float: left;
      clear: none;
      text-align: inherit;
      width: 49.35788%;
      margin-left: 0%;
      margin-right: 1.28425%; }
      /* line 344, ../bower_components/jeet/scss/jeet/_grid.scss */
      article.product:before, article.product:after {
        content: '';
        display: table; }
      /* line 349, ../bower_components/jeet/scss/jeet/_grid.scss */
      article.product:after {
        clear: both; }
      /* line 40, ../bower_components/jeet/scss/jeet/_grid.scss */
      article.product:nth-child(3n) {
        margin-right: 1.28425%;
        float: left; }
      /* line 44, ../bower_components/jeet/scss/jeet/_grid.scss */
      article.product:nth-child(3n + 1) {
        clear: none; }
      /* line 50, ../bower_components/jeet/scss/jeet/_grid.scss */
      article.product:nth-child(2n) {
        margin-right: 0%;
        float: right; }
      /* line 54, ../bower_components/jeet/scss/jeet/_grid.scss */
      article.product:nth-child(2n + 1) {
        clear: both; } }
  @media (max-width: 767px) {
    /* line 185, ../sass/site.scss */
    article.product {
      display: block;
      clear: both;
      float: none;
      width: 100%;
      margin-left: auto;
      margin-right: auto; }
      /* line 265, ../bower_components/jeet/scss/jeet/_grid.scss */
      article.product:first-child {
        margin-left: auto; }
      /* line 269, ../bower_components/jeet/scss/jeet/_grid.scss */
      article.product:last-child {
        margin-right: auto; } }
  /* line 195, ../sass/site.scss */
  article.product .product-image {
    margin-bottom: 30px;
    min-height: 420px; }
    @media (max-width: 767px) {
      /* line 195, ../sass/site.scss */
      article.product .product-image {
        min-height: 0; } }
  /* line 202, ../sass/site.scss */
  article.product .attachment-post-thumbnail {
    width: 100%;
    max-width: 272px !important;
    height: auto; }
  /* line 207, ../sass/site.scss */
  article.product h3.title {
    font-size: 18px;
    font-weight: 700;
    margin: 18px 0; }
  /* line 212, ../sass/site.scss */
  article.product h4.price {
    font-weight: 700;
    font-size: 24px;
    color: #357EBD;
    margin-bottom: 18px; }
  /* line 218, ../sass/site.scss */
  article.product .button {
    color: #4e4e4e;
    font-weight: 700;
    padding: 15px 40px;
    border: 2px solid #4e4e4e;
    text-decoration: none;
    box-sizing: border-box;
    display: inline-block; }

/* line 229, ../sass/site.scss */
article.post-single .attachment-post-thumbnail {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 32.47717%;
  margin-left: 0%;
  margin-right: 1.28425%;
  height: auto; }
  /* line 344, ../bower_components/jeet/scss/jeet/_grid.scss */
  article.post-single .attachment-post-thumbnail:before, article.post-single .attachment-post-thumbnail:after {
    content: '';
    display: table; }
  /* line 349, ../bower_components/jeet/scss/jeet/_grid.scss */
  article.post-single .attachment-post-thumbnail:after {
    clear: both; }
  /* line 58, ../bower_components/jeet/scss/jeet/_grid.scss */
  article.post-single .attachment-post-thumbnail:last-child {
    margin-right: 0%; }
  @media (max-width: 568px) {
    /* line 229, ../sass/site.scss */
    article.post-single .attachment-post-thumbnail {
      display: block;
      clear: both;
      float: none;
      width: 100%;
      margin-left: auto;
      margin-right: auto; }
      /* line 265, ../bower_components/jeet/scss/jeet/_grid.scss */
      article.post-single .attachment-post-thumbnail:first-child {
        margin-left: auto; }
      /* line 269, ../bower_components/jeet/scss/jeet/_grid.scss */
      article.post-single .attachment-post-thumbnail:last-child {
        margin-right: auto; } }
/* line 236, ../sass/site.scss */
article.post-single .product-single-content {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 49.35788%;
  margin-left: 8.44035%;
  margin-right: 1.28425%; }
  /* line 344, ../bower_components/jeet/scss/jeet/_grid.scss */
  article.post-single .product-single-content:before, article.post-single .product-single-content:after {
    content: '';
    display: table; }
  /* line 349, ../bower_components/jeet/scss/jeet/_grid.scss */
  article.post-single .product-single-content:after {
    clear: both; }
  /* line 58, ../bower_components/jeet/scss/jeet/_grid.scss */
  article.post-single .product-single-content:last-child {
    margin-right: 0%; }
  @media (max-width: 568px) {
    /* line 236, ../sass/site.scss */
    article.post-single .product-single-content {
      display: block;
      clear: both;
      float: none;
      width: 100%;
      margin-left: auto;
      margin-right: auto; }
      /* line 265, ../bower_components/jeet/scss/jeet/_grid.scss */
      article.post-single .product-single-content:first-child {
        margin-left: auto; }
      /* line 269, ../bower_components/jeet/scss/jeet/_grid.scss */
      article.post-single .product-single-content:last-child {
        margin-right: auto; } }
/* line 242, ../sass/site.scss */
article.post-single h3.title {
  font-size: 18px;
  font-weight: 700;
  margin: 18px 0; }
/* line 247, ../sass/site.scss */
article.post-single h4.price {
  font-weight: 700;
  font-size: 24px;
  color: #357EBD;
  margin-bottom: 18px; }
/* line 254, ../sass/site.scss */
article.post-single .buttons .edd-submit.button.blue {
  background-color: transparent;
  color: #357EBD;
  border-width: 2px;
  border-radius: 0;
  font-weight: 700;
  margin-top: 24px;
  font-size: 18px;
  padding: 15px 40px;
  line-height: 1em;
  text-decoration: none; }
  /* line 265, ../sass/site.scss */
  article.post-single .buttons .edd-submit.button.blue:hover {
    border-color: #357EBD; }
  /* line 268, ../sass/site.scss */
  article.post-single .buttons .edd-submit.button.blue:active {
    box-shadow: none; }
/* line 272, ../sass/site.scss */
article.post-single .buttons form:not(.edd_download_purchase_form) {
  margin-top: -50px; }
/* line 276, ../sass/site.scss */
article.post-single .desc {
  line-height: 1.3em; }
/* line 279, ../sass/site.scss */
article.post-single input[type=image] {
  width: 177px;
  outline: none; }
/* line 284, ../sass/site.scss */
article.post-single .edd-cart-added-alert {
  margin-top: 9px; }

@media (max-width: 430px) {
  /* line 291, ../sass/site.scss */
  #edd_checkout_cart thead {
    display: none; }
  /* line 294, ../sass/site.scss */
  #edd_checkout_cart tbody {
    display: block;
    width: 100%; }
  /* line 298, ../sass/site.scss */
  #edd_checkout_cart .edd_cart_item {
    display: block;
    width: 100%; }
  /* line 302, ../sass/site.scss */
  #edd_checkout_cart .edd_cart_item_name {
    width: 100%;
    display: inline-block;
    box-sizing: border-box; }
  /* line 307, ../sass/site.scss */
  #edd_checkout_cart .edd_cart_item_price {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    float: left !important; }
  /* line 313, ../sass/site.scss */
  #edd_checkout_cart .edd_cart_actions {
    display: inline-block;
    width: 50%;
    float: left !important;
    box-sizing: border-box;
    text-align: center !important; }
  /* line 320, ../sass/site.scss */
  #edd_checkout_cart tfoot {
    display: block;
    width: 100%;
    clear: both; }
  /* line 325, ../sass/site.scss */
  #edd_checkout_cart .edd_cart_footer_row {
    display: block;
    width: 100%; }
  /* line 329, ../sass/site.scss */
  #edd_checkout_cart .edd_cart_total {
    display: block;
    width: 100%;
    box-sizing: border-box; } }
