@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";

@import "jeet/scss/jeet/index";

@import "helpers/variables";
@import "helpers/classes";

@import "components/header";
@import "components/nav";
@import "components/form";
@import "components/select";
@import "components/tour";
@import "components/modal";
@import "components/footer";

a {
	color: #4183D7;
}

html {
	width: 100%;
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	font-family: "azo-sans-web",sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	color: $grey;
	-webkit-font-smoothing: antialiased;
	&.home {
		#top {
			overflow: hidden;
			height: 100%;
		}
	}
}

p {
	margin-bottom: 30px;
	line-height: 28px;
	&:last-child {
		margin-bottom: 0;
	}
}

#top {
	height: 400px;
	width: 100%;
	@include background-size(cover);
	background-position: center center;
	position: relative;
	@media (max-width: 568px) {
		height: 300px;
	}
	.wrap {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		text-align: center;
		@include translate(-50%,-50%);
	}
	.col {
		text-align: center;
		img {
			width: 100%;
			max-width: 370px;
		}
		h1 {
			color: $grey;
			font-weight: 700;
			font-size: 60px;
			text-transform: uppercase;
			@media (max-width: 386px) {
				font-size: 40px;
			}
		}
	}
}

#content {
	padding: 68px 0;
	&.store {
		padding: 38px 0;
	}
	.attachment-post-thumbnail {
		margin-bottom: 30px;
		max-width: 100%;
		height: auto;
	}
	.col-12 {
		@include column($ratios: 1, $gutter: 1.2842466);
	}
	.col-10 {
		@include column($ratios: 5/6, $offset: 1/12, $gutter: 1.2842466);
		@media (max-width: 569px) {
			@include stack();
		}
	}
	.col-8 {
		@include column($ratios: 2/3, $offset: 1/6, $gutter: 1.2842466);
		@media (max-width: 768px) {
			@include column($ratios: 1, $gutter: 1.2842466);
		}
	}
}

#wolf-show-content {
	@media (max-width: 799px) {
		margin-top: 48px;
		#wolf-show-details {
			a {
				word-wrap: break-word;
			}
			.show-website {
				margin-top: 12px;
			}
		}
	}
}
.wolf-tour-dates {
	table {
		tr {
			td.wolf-show-entry {
				padding-left: 10px;
			}
		}
	}
}

article.post {
	margin-bottom: 68px;
	&:last-of-type {
		margin-bottom: 0;
	}
	h3.title {
		margin-bottom: 13px;
		font-size: 42px;
		font-weight: 600;
		a {
			color: $grey;
			text-decoration: none;
		}
	}
	.meta {
		display: block;
		margin-bottom: 13px;
	}
	.tags {
		display: block;
		margin-bottom: 10px;
		.tag-icon {
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
		}
		a {
			color: $grey;
		}
	}
	.excerpt {
		margin-bottom: 13px;
	}
	.read-more {
		color: $grey;
		font-weight: 700;
		padding: 15px 40px;
		border: 2px solid $grey;
		text-decoration: none;
		box-sizing: border-box;
		display: inline-block;
	}
}

.row {
	@include clearfix();
}

article.product {
	@include column($ratios: 1/3, $gutter: 0, $cycle: 3);
	text-align: center;
	margin: 30px 0;
	@media (max-width: 1023px) {
		@include column($ratios: 1/2, $gutter: 1.2842466, $uncycle: 3, $cycle: 2);
	}
	@media (max-width: 767px) {
		@include stack();
	}
	.product-image {
		margin-bottom: 30px;
		min-height: 420px;
		@media (max-width: 767px) {
			min-height: 0;
		}
	}
	.attachment-post-thumbnail {
		width: 100%;
		max-width: 272px !important;
		height: auto;
	}
	h3.title {
		font-size: 18px;
		font-weight: 700;
		margin: 18px 0;
	}
	h4.price {
		font-weight: 700;
		font-size: 24px;
		color: $blue;
		margin-bottom: 18px;
	}
	.button {
		color: $grey;
		font-weight: 700;
		padding: 15px 40px;
		border: 2px solid $grey;
		text-decoration: none;
		box-sizing: border-box;
		display: inline-block;
	}
}
article.post-single {
	.attachment-post-thumbnail {
		@include column($ratios: 1/3, $gutter: 1.2842466);
		height: auto;
		@media (max-width: 568px) {
			@include stack();
		}
	}
	.product-single-content {
		@include column($ratios: 1/2, $offset: 1/12, $gutter: 1.2842466);
		@media (max-width: 568px) {
			@include stack();
		}
	}
	h3.title {
		font-size: 18px;
		font-weight: 700;
		margin: 18px 0;
	}
	h4.price {
		font-weight: 700;
		font-size: 24px;
		color: $blue;
		margin-bottom: 18px;
	}
	.buttons {
		.edd-submit.button.blue {
			background-color: transparent;
			color: #357EBD;
			border-width: 2px;
			border-radius: 0;
			font-weight: 700;
			margin-top: 24px;
			font-size: 18px;
			padding: 15px 40px;
			line-height: 1em;
			text-decoration: none;
			&:hover {
				border-color: $blue;
			}
			&:active {
				box-shadow: none;
			}
		}
		form:not(.edd_download_purchase_form) {
			margin-top: -50px;
		}
	}
	.desc {
		line-height: 1.3em;
	}
	input[type=image] {
		width: 177px;
		outline: none;
	}
	// checkout styles
	.edd-cart-added-alert {
		margin-top: 9px;
	}
}

#edd_checkout_cart {
	@media (max-width: 430px) {
		thead {
			display: none;
		}
		tbody {
			display: block;
			width: 100%;
		}
		.edd_cart_item {
			display: block;
			width: 100%;
		}
		.edd_cart_item_name {
	    width: 100%;
	    display: inline-block;
	    box-sizing: border-box;
		}
		.edd_cart_item_price {
		    display: inline-block;
		    width: 50%;
		    box-sizing: border-box;
		    float: left !important;
		}
		.edd_cart_actions {
		    display: inline-block;
		    width: 50%;
		    float: left !important;
		    box-sizing: border-box;
		    text-align: center !important;
		}
		tfoot {
		    display: block;
		    width: 100%;
		    clear: both;
		}
		.edd_cart_footer_row {
		    display: block;
		    width: 100%;
		}
		.edd_cart_total {
		    display: block;
		    width: 100%;
		    box-sizing: border-box;
		}
	}
}
