footer {
	padding-top: 23px;
	background-color: $grey;
	color: white;
	.logo {
		text-align: center;
	}
	img.footer-logo {
		max-width: 192px;
	}
	.links {
		text-align: center;
		padding: 36px 0;
		a {
			color: white;
			font-weight: 300;
			text-decoration: none;
			margin-right: 70px;
			@media (max-width: 704px) {
				margin: 12px 0;
				padding: 6px 0;
				display: block;
			}
			&:last-of-type {
				margin-right: 0;
			}
		}
	}
	.social {
		text-align: center;
		a {
			display: inline-block;
			margin-right: 80px;
			@media (max-width: 704px) {
				margin-right: 24px;
			}
			&:last-of-type {
				margin-right: 0;
			}
			img {
				max-height: 30px;
			}
		}
	}
	.copy {
		padding-top: 50px;
		padding-bottom: 8px;
		text-align: center;
		p {
			opacity: .2;
			font-size: 12px;
			font-weight: 300;
			line-height: 18px;
		}
	}
}