@import 'compass/css3/transition';

.ninja-forms-form {
	.ninja-forms-required-items {
		margin-bottom: 12px;
	}
	input {
		height: 30px !important;
		outline: none;
		border: 2px solid $lightGrey;
		border-radius: 3px;
		box-sizing: border-box;
		padding-left: 6px;
		@include transition(border-color .3s ease);
		&:hover {
			border-color: $mediumGrey;
		}
		&[type=submit] {
			border-width: 2px;
			padding: 8px 16px;
			background-color: transparent;
			color: $grey;
		}
	}
	textarea {
		border: 2px solid $lightGrey;
		outline: none;
		border-radius: 3px;
		box-sizing: border-box;
		padding-left: 6px;
		@include transition(border-color .3s ease);
		&:hover {
			border-color: $mediumGrey;
		}
	}
	#nf_submit_2 {
		text-align: right;
	}
}