header.site-header {
	position: fixed;
	width: 100%;
	height: 97px;
	line-height: 97px;
	z-index: 1;
	background-color: transparent;
	@include transition(all .3s ease);
	&.scrolled {
		background-color: white;
		height: 67px;
		line-height: 67px;
		img.logo {
			max-width: 202px;
		}
		#toggle {
			margin-top: 24px;
		}
		nav#main_nav {
			padding-top: 67px;
		}
	}
	.main {
		@include clearfix();
		line-height: inherit;
		position: relative;
		z-index: 1;
	}
	img.logo {
		max-height: 92px;
		vertical-align: middle;
		@include transition(max-width .3s ease);
		@media (max-width: 568px) {
			max-width: 200px;
		}
	}
	#toggle {
		width: 28px;
		float: right;
		margin-top: 39px;
		cursor: pointer;
		@include transition(margin-top .3s ease);
	}
	#toggle div {
		width: 100%;
		height: 3px;
		background: $grey;
		margin: 6px auto;
		transition: all 0.3s;
		@include backface-visibility(hidden);
		&.one {
			margin-top: 0;
		}
		&.three {
			margin-bottom: 0;
		}
	}
	#toggle.on .one {
		@include transform(rotate(45deg) translate(5px, 6px));
	}
	#toggle.on .two {
		opacity: 0;
	}
	#toggle.on .three {
		@include transform(rotate(-45deg) translate(6px, -8px));
	}
	.site-title {
		font-family: cursive;
		a {
			color: $grey;
			text-decoration: none;
			font-size: 29px;
		}
	}
}
