@import 'compass/css3/transform';

#eModal-1 {
	padding: 40px !important;
	box-sizing: border-box;
	top: 50% !important;
	left: 50% !important;
	@include translate(-50%,-50%);
	max-width: 440px;
	height: auto !important;
	max-height: 100%;
	overflow: auto !important;
}

[id*=eModal-post-] {
	padding: 0 !important;
	top: 50% !important;
	@include translate(-50%,-50%);
	position: fixed;
	width: 100% !important;
	max-width: 720px;
	left: 50% !important;
	height: auto !important;
	max-height: 100%;
	overflow: auto !important;
	.product-img {
		width: 50%;
		margin: 30px auto 8px !important;
		display: block;
	}
	.product-content {
		width: 80%;
		margin: 0 auto;
	}
	h3.title {
		font-size: 18px;
		font-weight: 700;
		margin: 8px 0;
	}
	h4.price {
		font-weight: 700;
		font-size: 24px;
		color: #36f332;
		margin-bottom: 8px;
	}
	.product-desc {
		line-height: 1.4em;
		font-size: 14px;
		margin-bottom: 30px;
	}
	.button {
		color: $grey;
		font-weight: 700;
		padding: 15px 40px;
		border: 2px solid $grey;
		text-decoration: none;
		box-sizing: border-box;
		display: inline-block;
		margin-top: 8px;
	}
}