nav#main_nav {
	position: absolute;
	z-index: 0;
	background-color: white;
	padding-top: 97px;
	width: 100%;
	top: 0;
	visibility: hidden;
	opacity: 0;
	@include transition(opacity .3s, visibility 0s .3s);
	@media (max-width: 767px) {
		overflow: scroll;
	}
	&.open {
		visibility: visible;
		opacity: 1;
		@include transition(opacity .3s);
	}
	.scroll-wrap {
		@media (max-width: 767px) {
			height: 200px;
			width: 1578px;
			@include clearfix();
			padding-top: 32px;
			box-sizing: border-box;
		}
	}
	.row {
		@extend .wrap;
		@media (max-width: 767px) {
			float: left;
			margin: 0 !important;
			padding: 0;
			width: auto;
		}
		&:first-of-type {
			margin-bottom: 50px;
			margin-top: 38px
		}
		&:last-of-type {
			margin-bottom: 38px;
		}
	}
	.col {
		@include column($ratios: 1/3, $gutter: 1.2842466);
		text-align: center;
		position: relative;
		@media (max-width: 767px) {
			width: 230px;
			margin: 0 18px;
		}
		&:hover {
			span.img {
				.nav-img {
					@include scale(1.2);
					@media (max-width: 767px) {
						@include scale(1);
					}
				}
			}
		}
		> a {
			display: block;
			color: white;
			text-decoration: none;
		}
		span.social {
			display: block;
			width: 100%;
			height: 40px;
			position: absolute;
			z-index: 1;
			top: 50%;
			@include translateY(-50%);
			@media (max-width: 900px) {
				height: 30px;
			}
			a {
				display: inline-block;
				height: 40px;
				margin-right: 10px;
				@media (max-width: 900px) {
					height: 30px;
				}
				&:last-of-type {
					margin-right: 0;
				}
			}
			img {
				height: 40px !important;
				vertical-align: top;
				@media (max-width: 900px) {
					height: 30px !important;
				}
			}
		}
		span.text {
			position: absolute;
			font-style: normal;
			font-weight: 700;
			font-size: 47px;
			display: block;
			top: 50%;
			left: 50%;
			z-index: 1;
			text-transform: uppercase;
			@include translate(-50%,-50%);
			@media (max-width: 900px) {
				font-size: 37px;
			}
		}
		span.img {
			width: 100%;
			max-width: 273px;
			display: block;
			position: relative;
			z-index: 0;
			margin: 0 auto;
			overflow: hidden;
			.nav-img {
				vertical-align: middle;
				width: 100%;
				@include transition(transform .3s ease);
			}
		}
	}
}