.entry-header {
	text-align: center;
	margin-bottom: 68px;
	h1 {
		font-weight: 600;
		font-size: 36px;
	}
}
#wolf-show-meta {
	font-size: 22px;
	font-weight: 600;
	line-height: 32px;
}
.wolf-show-place {
	font-size: 22px;
	font-weight: 600;
}
#wolf-show-details {
	margin-bottom: 34px;
	.wolf-show-details-title {
		font-size: 22px;
		font-weight: 600;
		margin-bottom: 34px;
	}
	strong {
		font-weight: 600;
		display: inline-block;
		margin-bottom: 12px;
	}
}
footer.entry-meta {
	background-color: transparent;
	text-align: right;
}
#wold-show-content {
	margin-bottom: 0;
}
.wolf-show-actions {
	a {
		text-decoration: none;
		color: $grey;
		font-size: 14px;
		border: 3px solid $grey;
		padding: 8px 16px;
	}
}